<!DOCTYPE html>
<html>
    <head>
        <title>sulakeWEB Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="./application/views/cascading/error.css" />
    </head>
    <body>
        <div class="header">
            sulakeWEB Error
        </div>
        <div class="gap"></div>
        <div class="middle-box">
            <div class="title"> Error #[title]</div>
            <br>
            The system has triggered an error, it is described below. If you believe this was just a mistake you can <a href="">refresh</a> the page!
            If the problem continues, contact a hotel administrator ASAP with the information displayed below.
            <br>
            <br>
            <div class="error">
                <div class="line">
                    Line [line]:
                </div>
                <div class="message">
                    [error]
                </div>
            </div>
            <br>
            <b>File:</b> <i>[file]</i> on line <b>[line]</b>
        </div>
    </body>
</html>